In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 500)

In [5]:
states_dict = {
        'AK': ['Alaska', 3],
        'AL': ['Alabama', 9],
        'AR': ['Arkansas', 6],
        'AZ': ['Arizona', 11],
        'CA': ['California', 55],
        'CO': ['Colorado', 9],
        'CT': ['Connecticut', 7],
        'DC': ['District of Columbia', 3],
        'DE': ['Delaware', 3],
        'FL': ['Florida', 29],
        'GA': ['Georgia', 16],
        'HI': ['Hawaii', 4],
        'IA': ['Iowa', 6],
        'ID': ['Idaho', 4],
        'IL': ['Illinois', 20],
        'IN': ['Indiana', 11],
        'KS': ['Kansas', 6],
        'KY': ['Kentucky', 8],
        'LA': ['Louisiana', 8],
        'MA': ['Massachusetts', 11],
        'MD': ['Maryland', 10],
        'ME': ['Maine', 4],
        'MI': ['Michigan', 16],
        'MN': ['Minnesota', 10],
        'MO': ['Missouri', 10],
        'MS': ['Mississippi', 6],
        'MT': ['Montana', 3],
        'NC': ['North Carolina', 15],
        'ND': ['North Dakota', 3],
        'NE': ['Nebraska', 5],
        'NH': ['New Hampshire', 4],
        'NJ': ['New Jersey', 14],
        'NM': ['New Mexico', 5],
        'NV': ['Nevada', 6],
        'NY': ['New York', 29],
        'OH': ['Ohio', 18],
        'OK': ['Oklahoma', 7],
        'OR': ['Oregon', 7],
        'PA': ['Pennsylvania', 20],
        'RI': ['Rhode Island', 4],
        'SC': ['South Carolina', 9],
        'SD': ['South Dakota', 3],
        'TN': ['Tennessee', 11],
        'TX': ['Texas' ,38],
        'UT': ['Utah', 6],
        'VA': ['Virginia', 13],
        'VT': ['Vermont', 3],
        'WA': ['Washington', 12],
        'WI': ['Wisconsin', 10],
        'WV': ['West Virginia', 5],
        'WY': ['Wyoming', 3]
}

In [6]:
df = pd.read_csv('../data/raw/president_polls2.csv', parse_dates=['start_date'], 
                  usecols=['question_id', 'poll_id', 'state', 'pollster_id', 'pollster', 'fte_grade', 'sample_size', 
                           'population', 'methodology', 'start_date', 'internal', 'partisan', 'race_id', 'answer',
                           'candidate_party', 'pct'])

In [7]:
df.head()

,question_id,poll_id,state,pollster_id,pollster,fte_grade,sample_size,population,methodology,start_date,internal,partisan,race_id,answer,candidate_party,pct
0,126918,67815,NaN,744,Ipsos,B-,1115,a,Online,2020-07-27,False,NaN,6210,Biden,DEM,57.0
1,126918,67815,NaN,744,Ipsos,B-,1115,a,Online,2020-07-27,False,NaN,6210,Trump,REP,43.0
2,126919,67815,NaN,744,Ipsos,B-,947,rv,Online,2020-07-27,False,NaN,6210,Biden,DEM,57.0
3,126919,67815,NaN,744,Ipsos,B-,947,rv,Online,2020-07-27,False,NaN,6210,Trump,REP,43.0
4,126934,67820,NaN,568,YouGov,B,1260,rv,Online,2020-07-26,False,NaN,6210,Biden,DEM,49.0

In [8]:
# df = pd.read_csv('../data/raw/president_polls.csv', parse_dates=['start_date'])

In [9]:
# df.head()

In [10]:
df = df[(df.answer == 'Biden') | (df.answer == 'Trump')  ]

In [108]:
df['state'] = df['state'].fillna('National')

In [12]:
df.shape

(3897, 16)

In [13]:
df['month'] = df.start_date.dt.month

In [14]:
df_summer = df[df.start_date > '2020-03-01']

In [15]:
# df_summer['weight'] = df_summer.groupby('state').apply(lambda s: s.sample_size/s.sample_size.sum()).values
# df_summer_summer.groupby('state')['sample_size'].sum()

In [16]:
# df_summer['weighted_pct'] = df_summer['pct']*df_summer['weight']

In [17]:
df_summer['sum_sample'] = df_summer.groupby(['state', 'answer'])['sample_size'].transform('sum')

<ipython-input-17-c43dbd59af4b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_summer['sum_sample'] = df_summer.groupby(['state', 'answer'])['sample_size'].transform('sum')

In [18]:
df_summer['weight2'] = df_summer['sample_size'] / df_summer['sum_sample']

<ipython-input-18-0d5f418d870b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_summer['weight2'] = df_summer['sample_size'] / df_summer['sum_sample']

In [19]:
df_summer['weighted_pct2'] = df_summer['pct']*df_summer['weight2']

<ipython-input-19-d310e13a197f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_summer['weighted_pct2'] = df_summer['pct']*df_summer['weight2']

In [20]:
df_summer[df_summer.state == 'National']

,question_id,poll_id,state,pollster_id,pollster,fte_grade,sample_size,population,methodology,start_date,internal,partisan,race_id,answer,candidate_party,pct,month,sum_sample,weight2,weighted_pct2
0,126918,67815,National,744,Ipsos,B-,1115,a,Online,2020-07-27,False,NaN,6210,Biden,DEM,57.0,7,2014518,0.000553,0.031548
1,126918,67815,National,744,Ipsos,B-,1115,a,Online,2020-07-27,False,NaN,6210,Trump,REP,43.0,7,2126196,0.000524,0.022550
2,126919,67815,National,744,Ipsos,B-,947,rv,Online,2020-07-27,False,NaN,6210,Biden,DEM,57.0,7,2014518,0.000470,0.026795
3,126919,67815,National,744,Ipsos,B-,947,rv,Online,2020-07-27,False,NaN,6210,Trump,REP,43.0,7,2126196,0.000445,0.019152
4,126934,67820,National,568,YouGov,B,1260,rv,Online,2020-07-26,False,NaN,6210,Biden,DEM,49.0,7,2014518,0.000625,0.030648
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1702,119858,64784,National,1189,Morning Consult,B/C,6112,rv,Online,2020-03-05,False,NaN,6210,Trump,REP,41.0,3,2126196,0.002875,0.117859
1704,119859,64784,National,1189,Morning Consult,B/C,6112,rv,Online,2020-03-05,False,NaN,6210,Trump,REP,41.0,3,2126196,0.002875,0.117859
1725,119754,64751,National,1361,SSRS,B/C,1084,rv,Live Phone,2020-03-04,False,NaN,6210,Biden,DEM,53.0,3,2014518,0.000538,0.028519
1726,119754,64751,National,1361,SSRS,B/C,1084,rv,Live Phone,2020-03-04,False,NaN,6210,Trump,REP,43.0,3,2126196,0.000510,0.021923
1728,119755,64751,National,1361,SSRS,B/C,1084,rv,Live Phone,2020-03-04,False,NaN,6210,Trump,REP,45.0,3,2126196,0.000510,0.022942

In [21]:
df_state = df_summer.groupby(['state', 'answer'])[
    'weighted_pct2'].sum().reset_index().pivot(index = 'state', columns = 'answer', values = 'weighted_pct2').reset_index()

In [22]:
df_state['other']  = 100 - df_state['Biden'] - df_state['Trump']
df_state.shape

(42, 4)

In [23]:
df_samples_2020 = df_summer.groupby(['state', 'answer'])[
    'sample_size'].sum().reset_index().pivot(index = 'state', columns = 'answer', values = 'sample_size').reset_index()

In [24]:
df_samples_2020['mean_sample'] = round((df_samples_2020['Biden'] + df_samples_2020['Trump'] )/2)

In [25]:
df_samples_2020.head()

answer       state  Biden  Trump  mean_sample
0          Alabama   1159   1159       1159.0
1           Alaska   2629   2629       2629.0
2          Arizona  22877  28549      25713.0
3         Arkansas    869    869        869.0
4       California   3347   3347       3347.0

In [26]:
df_state = pd.merge(df_state, df_samples_2020[['state', 'mean_sample']], on = 'state')

In [27]:
df_state

answer           state      Biden      Trump      other  mean_sample
0              Alabama  39.770319  53.962899   6.266782       1159.0
1               Alaska  45.319057  48.875010   5.805934       2629.0
2              Arizona  47.604275  44.372482   8.023243      25713.0
3             Arkansas  45.000000  47.000000   8.000000        869.0
4           California  61.994622  31.799223   6.206155       3347.0
5             Colorado  53.497936  39.208129   7.293935       4699.0
6          Connecticut  51.526992  34.629881  13.843127       2445.0
7              Florida  48.142045  45.083859   6.774095      54172.0
8              Georgia  46.376003  46.838493   6.785504      14592.0
9              Indiana  39.000000  50.599478  10.400522       1915.0
10                Iowa  45.593964  48.627015   5.779020       7710.0
11              Kansas  40.000000  52.000000   8.000000       3050.0
12            Kentucky  37.626437  55.724388   6.649175       4002.0
13               Maine  52.055556  41.230503   6.713942       4180.0
14          Maine CD-1  55.000000  35.000000  10.000000        425.0
15          Maine CD-2  45.000000  42.000000  13.000000        449.0
16            Maryland  59.100000  35.300000   5.600000        810.0
17       Massachusetts  59.653528  28.705164  11.641309       2537.0
18            Michigan  48.809974  42.253568   8.936458      46019.0
19           Minnesota  50.268704  42.499306   7.231990       4614.0
20         Mississippi  39.419703  49.597398  10.982900       1076.0
21            Missouri  44.208234  48.983294   6.808473       3352.0
22             Montana  42.447996  50.122931   7.429073       4691.0
23            National  48.289024  41.536158  10.174818    2070357.0
24       Nebraska CD-2  51.471579  42.585263   5.943158        950.0
25              Nevada  49.000000  45.000000   6.000000        763.0
26       New Hampshire  50.315551  41.376883   8.307567       5511.0
27          New Jersey  54.572643  33.759814  11.667544       4942.0
28          New Mexico  52.423099  39.576901   8.000000       1749.0
29            New York  58.327844  31.525733  10.146423       3886.0
30      North Carolina  47.001284  45.522528   7.476188      27986.0
31        North Dakota  38.000000  56.500000   5.500000        600.0
32                Ohio  45.597780  46.671106   7.731114      12988.0
33            Oklahoma  34.500000  57.000000   8.500000       1250.0
34        Pennsylvania  48.436943  43.289196   8.273861      28488.0
35      South Carolina  43.929234  50.457077   5.613689       2586.0
36           Tennessee  39.906250  51.697917   8.395833       1536.0
37               Texas  45.414995  45.983076   8.601930      22128.0
38                Utah  38.729659  46.915486  14.354856       7620.0
39            Virginia  51.371093  40.664395   7.964512       4255.0
40          Washington  57.679355  35.028300   7.292344       4591.0
41           Wisconsin  47.609725  43.262113   9.128161      24800.0

## ACTUAL ELECTION RESULTS PREPROCESSING

In [28]:
df_2016_actual = pd.read_csv('../data/raw/2016_actual.csv')
# df_2016_actual['total'] = df_2016_actual['perc_trump'] + df_2016_actual['perc_clinton']

In [29]:
df_2016_actual.head()

,Unnamed: 0,votes_dem,votes_gop,total_votes,per_dem,per_gop,diff,per_point_diff,state_abbr,county_name,combined_fips
0,0,93003.0,130413.0,246588.0,0.377159,0.52887,"37,410",15.17%,AK,Alaska,2013
1,1,93003.0,130413.0,246588.0,0.377159,0.52887,"37,410",15.17%,AK,Alaska,2016
2,2,93003.0,130413.0,246588.0,0.377159,0.52887,"37,410",15.17%,AK,Alaska,2020
3,3,93003.0,130413.0,246588.0,0.377159,0.52887,"37,410",15.17%,AK,Alaska,2050
4,4,93003.0,130413.0,246588.0,0.377159,0.52887,"37,410",15.17%,AK,Alaska,2060

In [30]:
df_2016_actual = df_2016_actual.groupby('state_abbr')['votes_dem', 'votes_gop', 'total_votes'].sum().reset_index()

<ipython-input-30-63e568f3befb>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_2016_actual = df_2016_actual.groupby('state_abbr')['votes_dem', 'votes_gop', 'total_votes'].sum().reset_index()

In [31]:
df_2016_actual['perc_dem'] = df_2016_actual['votes_dem']/ df_2016_actual['total_votes']
df_2016_actual['perc_gop'] = df_2016_actual['votes_gop']/ df_2016_actual['total_votes']
df_2016_actual['year'] = 2016
df_2016_actual.head(10)

  state_abbr  votes_dem  votes_gop  total_votes  perc_dem  perc_gop  year
0         AK  2697087.0  3781977.0    7151052.0  0.377159  0.528870  2016
1         AL   718084.0  1306925.0    2078165.0  0.345538  0.628884  2016
2         AR   378729.0   677904.0    1108615.0  0.341624  0.611487  2016
3         AZ   936250.0  1021154.0    2062810.0  0.453871  0.495031  2016
4         CA  7362490.0  3916209.0   11954317.0  0.615885  0.327598  2016
5         CO  1212209.0  1137455.0    2564185.0  0.472746  0.443593  2016
6         CT   884432.0   668266.0    1623542.0  0.544755  0.411610  2016
7         DC   260223.0    11553.0     280272.0  0.928466  0.041221  2016
8         DE   235581.0   185103.0     441535.0  0.533550  0.419226  2016
9         FL  4485745.0  4605515.0    9386750.0  0.477881  0.490640  2016

In [32]:
df_2016_actual.columns

Index(['state_abbr', 'votes_dem', 'votes_gop', 'total_votes', 'perc_dem',
       'perc_gop', 'year'],
      dtype='object')

In [33]:
df_2012_actual = pd.read_csv('../data/raw/2012_actual.csv')
df_2012_actual['total'] = df_2012_actual['obama'] + df_2012_actual['romney']

In [34]:
df_2012_actual.head()

,state,obama,romney,obama_count,romney_count,total_count,vap,ev,adult_pop_growth_2011_15,total
0,AL,38.36,60.55,795696,1255925,2074338,3600000,9,0.021734,98.91
1,AK,40.81,54.80,122640,164676,300495,517000,3,0.033483,95.61
2,AZ,44.59,53.65,1025232,1233654,2299254,4472000,11,0.071607,98.24
3,AR,36.88,60.57,394409,647744,1069468,2160000,6,0.020381,97.45
4,CA,60.24,37.12,7854285,4839958,13038547,23572000,55,0.056436,97.36

In [35]:
df_2012_actual = df_2012_actual[['state', 'obama_count', 'romney_count', 'total_count']]

In [36]:
df_2012_actual.columns = ['state_abbr', 'votes_dem', 'votes_gop', 'total_votes']

In [37]:
df_2012_actual['perc_dem'] = df_2012_actual['votes_dem']/ df_2012_actual['total_votes']
df_2012_actual['perc_gop'] = df_2012_actual['votes_gop']/ df_2012_actual['total_votes']
df_2012_actual['year'] = 2012

In [38]:
df_2008_actual = pd.read_csv('../data/raw/2008_actual.csv')

In [39]:
df_2008_actual.head()

,state,obama,mccain,obama_count,mccain_count,total_count,vap,ev,adult_pop_growth_2011_15
0,AL,0.39,0.60,813479,1266546,2099819,3595708,9,0.021734
1,AK,0.38,0.59,123594,193841,326197,507645,3,0.033483
2,AZ,0.45,0.54,1034707,1230111,2293475,4673718,11,0.071607
3,AR,0.39,0.59,422310,638017,1086617,2174846,6,0.020381
4,CA,0.61,0.37,8274473,5011781,13561900,27411094,55,0.056436

In [40]:
df_2008_actual = df_2008_actual[['state', 'obama_count', 'mccain_count', 'total_count']]

In [41]:
df_2008_actual.columns = ['state_abbr', 'votes_dem', 'votes_gop', 'total_votes']

In [42]:
df_2008_actual['perc_dem'] = df_2008_actual['votes_dem']/ df_2008_actual['total_votes']
df_2008_actual['perc_gop'] = df_2008_actual['votes_gop']/ df_2008_actual['total_votes']
df_2008_actual['year'] = 2008

In [43]:
df_2008_actual.shape

(51, 7)

In [44]:
df_2012_actual.shape

(51, 7)

In [45]:
df_2016_actual.shape

(51, 7)

In [46]:
df_election_actual = pd.concat([df_2008_actual, df_2012_actual, df_2016_actual])

In [47]:
df_election_actual.to_csv('../data/processed/actual_election.csv', index= False)

## POLLS PREPROCESSING

In [48]:
df_2008_poll = pd.read_csv('../data/raw/all_polls_2008.csv')

In [49]:
df_2008_poll['other'] = df_2008_poll['other'] + df_2008_poll['undecided']

In [50]:
df_2008_poll['state'] = df_2008_poll['state'].str.replace('--', 'National')

In [51]:
df_2008_poll.columns

Index(['state', 'number.of.observations', 'end.date', 'obama', 'mccain',
       'other', 'undecided'],
      dtype='object')

In [52]:
df_2008_poll['number.of.observations'] = df_2008_poll['number.of.observations'].fillna(
    df_2008_poll.groupby('state')['number.of.observations'].transform('mean'))

In [53]:
df_2008_poll.head()

  state  number.of.observations   end.date  obama  mccain  other  undecided
0    AK                   600.0   3/6/2008   43.0    48.0    9.0        2.7
1    AK                   500.0  5/17/2008   41.0    50.0    9.0        2.7
2    AK                   500.0  6/18/2008   41.0    45.0   14.0        4.2
3    AK                   600.0  7/16/2008   41.0    51.0    8.0        2.4
4    AK                   500.0  7/21/2008   40.0    45.0   15.0        4.5

In [54]:
df_2008_poll['total_sample'] = df_2008_poll.groupby(['state'])['number.of.observations'].transform('sum')

In [55]:
df_2008_poll['weight'] = df_2008_poll['number.of.observations'] / df_2008_poll['total_sample']

In [56]:
df_2008_poll['perc_dem'] = df_2008_poll['obama'] * df_2008_poll['weight']
df_2008_poll['perc_gop'] = df_2008_poll['mccain'] * df_2008_poll['weight']

In [57]:
df_2008_poll_sum = df_2008_poll.groupby('state')[['number.of.observations',
                                                 'perc_dem', 'perc_gop']].sum().reset_index()
df_2008_poll_sum['year'] = 2008

In [58]:
df_2008_poll_sum.head()

  state  number.of.observations   perc_dem   perc_gop  year
0    AK                  6901.0  39.419939  52.014925  2008
1    AL                  7181.0  34.658683  59.205542  2008
2    AR                  4300.0  39.139535  51.790698  2008
3    AZ                  5632.0  41.800781  51.717152  2008
4    CA                 13963.0  54.213206  37.070973  2008

In [59]:
df_2012_poll = pd.read_csv('../data/raw/all_polls_2012.csv')

In [60]:
df_2012_poll.isna().sum()

state                     0
number.of.observations    4
end.date                  0
obama                     0
romney                    0
other                     0
undecided                 0
dtype: int64

In [61]:
df_2012_poll['state'] = df_2012_poll['state'].str.replace('--', 'National')
df_2012_poll['number.of.observations'] = df_2012_poll['number.of.observations'].fillna(
    df_2012_poll.groupby('state')['number.of.observations'].transform('mean'))

df_2012_poll['total_sample'] = df_2012_poll.groupby(['state'])['number.of.observations'].transform('sum')
df_2012_poll['weight'] = df_2012_poll['number.of.observations'] / df_2012_poll['total_sample']

df_2012_poll['perc_dem'] = df_2012_poll['obama'] * df_2012_poll['weight']
df_2012_poll['perc_gop'] = df_2012_poll['romney'] * df_2012_poll['weight']

df_2012_poll_sum = df_2012_poll.groupby('state')[['number.of.observations',
                                                 'perc_dem', 'perc_gop']].sum().reset_index()


df_2012_poll_sum['year'] = 2012

In [62]:
df_2016_poll = pd.read_csv('../data/raw/all_polls_2016.csv')

In [63]:
df_2016_poll.isna().sum()/len(df_2016_poll)

Unnamed: 0                0.000000
state                     0.000000
end.date                  0.000000
number.of.observations    0.161301
population                0.000000
trump                     0.000000
clinton                   0.000000
other                     0.277778
undecided                 0.093750
partisan                  0.000000
affiliation               0.000000
dtype: float64

In [64]:
df_2016_poll[df_2016_poll['number.of.observations'].isna()]

,Unnamed: 0,state,end.date,number.of.observations,population,trump,clinton,other,undecided,partisan,affiliation
1,2,--,11/7/2016,NaN,Likely Voters - Democrat,6,89,0.0,4.0,Nonpartisan,None
2,3,--,11/7/2016,NaN,Likely Voters - Republican,82,7,2.0,6.0,Nonpartisan,None
3,4,--,11/7/2016,NaN,Likely Voters - independent,38,43,4.0,7.0,Nonpartisan,None
11,12,--,11/6/2016,NaN,Likely Voters - Democrat,6,86,3.0,5.0,Nonpartisan,None
12,13,--,11/6/2016,NaN,Likely Voters - Republican,85,5,6.0,4.0,Nonpartisan,None
...,...,...,...,...,...,...,...,...,...,...,...
1511,1512,--,6/28/2015,NaN,Registered Voters - Republican,71,19,10.0,NaN,Nonpartisan,None
1512,1513,--,6/28/2015,NaN,Registered Voters - independent,33,59,7.0,NaN,Nonpartisan,None
1521,1522,--,5/26/2015,NaN,Registered Voters - independent,32,47,3.0,18.0,Nonpartisan,None
2135,2136,MD,4/3/2016,NaN,Registered Voters,28,63,5.0,4.0,Nonpartisan,None
2864,2865,RI,10/16/2016,NaN,Likely Voters,39,58,3.0,NaN,Nonpartisan,None

In [65]:
df_2016_poll['population'].value_counts()

Likely Voters                      1607
Registered Voters                   593
Registered Voters - Democrat        177
Registered Voters - Republican      177
Registered Voters - independent     176
Likely Voters - independent         143
Likely Voters - Republican          142
Likely Voters - Democrat            142
Adults                               11
Name: population, dtype: int64

In [66]:
df_2016_poll['state'] = df_2016_poll['state'].str.replace('--', 'National')
df_2016_poll['number.of.observations'] = df_2016_poll['number.of.observations'].fillna(
    df_2016_poll.groupby('state')['number.of.observations'].transform('mean'))

df_2016_poll['total_sample'] = df_2016_poll.groupby(['state'])['number.of.observations'].transform('sum')
df_2016_poll['weight'] = df_2016_poll['number.of.observations'] / df_2016_poll['total_sample']

df_2016_poll['perc_dem'] = df_2016_poll['clinton'] * df_2016_poll['weight']
df_2016_poll['perc_gop'] = df_2016_poll['trump'] * df_2016_poll['weight']

df_2016_poll_sum = df_2016_poll.groupby('state')[['number.of.observations',
                                                 'perc_dem', 'perc_gop']].sum().reset_index()


df_2016_poll_sum['year'] = 2016

In [67]:
df_2016_poll_sum.head(25)

   state  number.of.observations   perc_dem   perc_gop  year
0     AK             7723.000000  35.848504  44.191376  2016
1     AL             7292.000000  36.038810  55.168404  2016
2     AR             7674.000000  36.269481  52.704978  2016
3     AZ            45396.000000  42.105009  43.665764  2016
4     CA            59398.000000  54.701152  31.246843  2016
5     CO            52091.000000  43.486840  39.454819  2016
6     CT            11787.000000  49.364384  38.268771  2016
7     DE             5509.000000  49.672717  36.094936  2016
8     FL           125486.000000  45.522863  43.528999  2016
9     GA            48168.000000  42.984097  45.668265  2016
10    HI             3835.000000  56.745241  30.551239  2016
11    IA            47132.000000  41.770496  42.589684  2016
12    ID             6644.000000  29.859874  51.477574  2016
13    IL            23586.000000  51.255872  34.289494  2016
14    IN            18282.000000  37.117930  49.043431  2016
15    KS            14378.000000  36.415774  48.455279  2016
16    KY             8750.000000  35.909029  54.291086  2016
17    LA            13384.000000  36.939629  50.056560  2016
18    MA            14217.000000  55.269677  30.861504  2016
19    MD            15069.176471  59.132436  29.314471  2016
20    ME            20849.000000  44.991558  36.961053  2016
21    MI            49114.000000  44.433990  38.451440  2016
22    MN            16383.000000  45.918574  38.982238  2016
23    MO            23359.000000  39.156899  47.412132  2016
24    MS             6992.000000  41.834668  49.984983  2016

In [68]:
df_2020_poll_sum = df_state.copy().drop(['other'] , axis=1)
df_2020_poll_sum.columns.name = None
df_2020_poll_sum.head()

        state      Biden      Trump  mean_sample
0     Alabama  39.770319  53.962899       1159.0
1      Alaska  45.319057  48.875010       2629.0
2     Arizona  47.604275  44.372482      25713.0
3    Arkansas  45.000000  47.000000        869.0
4  California  61.994622  31.799223       3347.0

In [69]:
df_2020_poll_sum.columns= ['state', 'perc_dem' , 'perc_gop', 'number.of.observations']

In [70]:
df_2020_poll_sum  = df_2020_poll_sum[['state', 'number.of.observations', 'perc_dem' , 'perc_gop']]
df_2020_poll_sum['year'] = 2020

In [71]:
def get_state_abbr(s):
    for key in states_dict.keys():
        if s in states_dict[key]:
            return key
    return s

#     return (key for key, vals in states_dict.items() if s in vals)
    #return (list(states_dict.keys())[list(states_dict.values()).index(s)])

In [72]:
states_dict.values()

dict_values([['Alaska', 3], ['Alabama', 9], ['Arkansas', 6], ['Arizona', 11], ['California', 55], ['Colorado', 9], ['Connecticut', 7], ['District of Columbia', 3], ['Delaware', 3], ['Florida', 29], ['Georgia', 16], ['Hawaii', 4], ['Iowa', 6], ['Idaho', 4], ['Illinois', 20], ['Indiana', 11], ['Kansas', 6], ['Kentucky', 8], ['Louisiana', 8], ['Massachusetts', 11], ['Maryland', 10], ['Maine', 4], ['Michigan', 16], ['Minnesota', 10], ['Missouri', 10], ['Mississippi', 6], ['Montana', 3], ['North Carolina', 15], ['North Dakota', 3], ['Nebraska', 5], ['New Hampshire', 4], ['New Jersey', 14], ['New Mexico', 5], ['Nevada', 6], ['New York', 29], ['Ohio', 18], ['Oklahoma', 7], ['Oregon', 7], ['Pennsylvania', 20], ['Rhode Island', 4], ['South Carolina', 9], ['South Dakota', 3], ['Tennessee', 11], ['Texas', 38], ['Utah', 6], ['Virginia', 13], ['Vermont', 3], ['Washington', 12], ['Wisconsin', 10], ['West Virginia', 5], ['Wyoming', 3]])

In [73]:
df_2020_poll_sum['state'] = df_2020_poll_sum['state'].apply(lambda x : get_state_abbr(x))

In [74]:
print(df_2008_poll_sum.head())
print(df_2012_poll_sum.head())
print(df_2016_poll_sum.head())
print(df_2020_poll_sum.head())

  state  number.of.observations   perc_dem   perc_gop  year
0    AK                  6901.0  39.419939  52.014925  2008
1    AL                  7181.0  34.658683  59.205542  2008
2    AR                  4300.0  39.139535  51.790698  2008
3    AZ                  5632.0  41.800781  51.717152  2008
4    CA                 13963.0  54.213206  37.070973  2008
  state  number.of.observations   perc_dem   perc_gop  year
0    AL                  1603.0  35.388896  54.943419  2012
1    AR                  3629.0  33.874070  56.562965  2012
2    AZ                 12168.0  43.134533  50.149162  2012
3    CA                 27549.0  55.798650  35.758503  2012
4    CO                 45058.0  47.917568  46.461672  2012
  state  number.of.observations   perc_dem   perc_gop  year
0    AK                  7723.0  35.848504  44.191376  2016
1    AL                  7292.0  36.038810  55.168404  2016
2    AR                  7674.0  36.269481  52.704978  2016
3    AZ                 45396.0  42.105009  43.665764  2016
4    CA                 59398.0  54.701152  31.246843  2016
  state  number.of.observations   perc_dem   perc_gop  year
0    AL                  1159.0  39.770319  53.962899  2020
1    AK                  2629.0  45.319057  48.875010  2020
2    AZ                 25713.0  47.604275  44.372482  2020
3    AR                   869.0  45.000000  47.000000  2020
4    CA                  3347.0  61.994622  31.799223  2020

In [80]:
df_2004 = pd.read_csv('../data/raw/polls-2004-state.csv')

In [81]:
df_2004_poll = df_2004.groupby('State')['Kerry', 'Bush'].mean().reset_index()
df_2004_poll.columns = ['state', 'dem_perc', 'gop_perc']

<ipython-input-81-8f2b25bde34f>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_2004_poll = df_2004.groupby('State')['Kerry', 'Bush'].mean().reset_index()

In [84]:
df_2004_poll.head(10)

  state   dem_perc   gop_perc
0    AL  37.466667  57.250000
1    AK  32.500000  59.450000
2    AZ  43.083333  51.983333
3    AR  45.416667  51.050000
4    CA  52.266667  42.883333
5    CO  46.383333  50.250000
6    CT  51.825000  40.750000
7    DE  49.433333  41.600000
8    DC  83.750000  10.150000
9    FL  48.016667  48.516667

In [83]:
df_2004_poll['state'] = df_2004_poll['state'].apply(lambda x : get_state_abbr(x))

In [85]:
df_2004_poll.head()

  state   dem_perc   gop_perc
0    AL  37.466667  57.250000
1    AK  32.500000  59.450000
2    AZ  43.083333  51.983333
3    AR  45.416667  51.050000
4    CA  52.266667  42.883333

In [86]:
df_2004_poll['year'] = 2004

In [87]:
df_polls = pd.concat([df_2008_poll_sum, df_2012_poll_sum, df_2016_poll_sum, df_2020_poll_sum])

In [88]:
df_polls['year'].value_counts()

2008    52
2016    51
2012    45
2020    42
Name: year, dtype: int64

In [89]:
df_polls[df_polls['year'] == 2020]

            state  number.of.observations   perc_dem   perc_gop  year
0              AL                  1159.0  39.770319  53.962899  2020
1              AK                  2629.0  45.319057  48.875010  2020
2              AZ                 25713.0  47.604275  44.372482  2020
3              AR                   869.0  45.000000  47.000000  2020
4              CA                  3347.0  61.994622  31.799223  2020
5              CO                  4699.0  53.497936  39.208129  2020
6              CT                  2445.0  51.526992  34.629881  2020
7              FL                 54172.0  48.142045  45.083859  2020
8              GA                 14592.0  46.376003  46.838493  2020
9              IN                  1915.0  39.000000  50.599478  2020
10             IA                  7710.0  45.593964  48.627015  2020
11             KS                  3050.0  40.000000  52.000000  2020
12             KY                  4002.0  37.626437  55.724388  2020
13             ME                  4180.0  52.055556  41.230503  2020
14     Maine CD-1                   425.0  55.000000  35.000000  2020
15     Maine CD-2                   449.0  45.000000  42.000000  2020
16             MD                   810.0  59.100000  35.300000  2020
17             MA                  2537.0  59.653528  28.705164  2020
18             MI                 46019.0  48.809974  42.253568  2020
19             MN                  4614.0  50.268704  42.499306  2020
20             MS                  1076.0  39.419703  49.597398  2020
21             MO                  3352.0  44.208234  48.983294  2020
22             MT                  4691.0  42.447996  50.122931  2020
23       National               2070357.0  48.289024  41.536158  2020
24  Nebraska CD-2                   950.0  51.471579  42.585263  2020
25             NV                   763.0  49.000000  45.000000  2020
26             NH                  5511.0  50.315551  41.376883  2020
27             NJ                  4942.0  54.572643  33.759814  2020
28             NM                  1749.0  52.423099  39.576901  2020
29             NY                  3886.0  58.327844  31.525733  2020
30             NC                 27986.0  47.001284  45.522528  2020
31             ND                   600.0  38.000000  56.500000  2020
32             OH                 12988.0  45.597780  46.671106  2020
33             OK                  1250.0  34.500000  57.000000  2020
34             PA                 28488.0  48.436943  43.289196  2020
35             SC                  2586.0  43.929234  50.457077  2020
36             TN                  1536.0  39.906250  51.697917  2020
37             TX                 22128.0  45.414995  45.983076  2020
38             UT                  7620.0  38.729659  46.915486  2020
39             VA                  4255.0  51.371093  40.664395  2020
40             WA                  4591.0  57.679355  35.028300  2020
41             WI                 24800.0  47.609725  43.262113  2020

In [90]:
states_dict.keys()

dict_keys(['AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA', 'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME', 'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM', 'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY'])

In [91]:
df_polls['state'] = df_polls.state.str.replace('Nebraska CD-2', 'NE')
df_polls['state'] = df_polls.state.str.replace('Maine CD-1', 'ME')
df_polls['state'] = df_polls.state.str.replace('Maine CD-2', 'ME')
state_polls = df_polls.pivot_table(index = 'state', columns = 'year',
                                   values = ['perc_dem', 'perc_gop']).unstack().reset_index()
# state_polls.columns

In [92]:
state_polls = state_polls.pivot_table(index = 'state', columns = ['year', 'level_0'], values = 0).reset_index()

In [93]:
state_polls.columns = state_polls.columns.get_level_values(0)

In [94]:
state_polls.columns.name = None
state_polls.columns = ['state', '2008_dem', '2008_gop', '2012_dem', '2012_gop',  '2016_dem', '2016_gop',
                       '2020_dem', '2020_gop']

for c in state_polls.columns[1:]:
    state_polls[c] = state_polls[c].fillna(state_polls[state_polls['state'] == 'National'][c].values[0])

In [95]:
state_polls[state_polls['state'] == 'National']['2008_dem'].values[0]

47.526317675158325

In [96]:
state_polls2 = state_polls.set_index('state').unstack().reset_index()
state_polls2['year'] = state_polls2['level_0'].apply(lambda x : x[:4])
state_polls2['perc'] = state_polls2['level_0'].apply(lambda x : x[5:]+'_perc')

In [97]:
state_polls2.head()

    level_0 state          0  year      perc
0  2008_dem    AK  39.419939  2008  dem_perc
1  2008_dem    AL  34.658683  2008  dem_perc
2  2008_dem    AR  39.139535  2008  dem_perc
3  2008_dem    AZ  41.800781  2008  dem_perc
4  2008_dem    CA  54.213206  2008  dem_perc

In [98]:
state_polls2 = state_polls2.drop('level_0', axis=1)

In [99]:
state_polls2 = state_polls2.pivot_table(index = ['year', 'state'], columns = 'perc', values = 0, aggfunc='first')

In [100]:
# state_polls2 = state_polls2.drop('perc', axis=1)
state_polls2.columns.name = None
state_polls2.columns

Index(['dem_perc', 'gop_perc'], dtype='object')

In [101]:
state_polls2 = state_polls2.reset_index().dropna()

In [102]:
nationa_polls = state_polls2[state_polls2['state'] == 'National']
state_polls_clean = state_polls2[state_polls2['state'] != 'National']

In [103]:
nationa_polls

     year     state   dem_perc   gop_perc
35   2008  National  47.526318  43.687056
87   2012  National  47.613843  45.201903
139  2016  National  44.115005  40.763429
191  2020  National  48.289024  41.536158

In [104]:
state_polls_clean = pd.concat([df_2004_poll[['year', 'state', 'dem_perc', 'gop_perc']], state_polls_clean])

In [105]:
state_polls_clean.shape

(255, 4)

In [106]:
state_polls_clean.to_csv('../data/processed/all_polls.csv', index= False)

In [107]:
nationa_polls.to_csv('../data/processed/national_poll.csv', index= False)

In [94]:
df_national = df_polls[df_polls['state'] == 'National']
df_national

       state  number.of.observations   perc_dem   perc_gop  year
35  National            4.007565e+05  47.526318  43.687056  2008
30  National            2.652110e+05  47.613843  45.201903  2012
34  National            2.916187e+06  44.115005  40.763429  2016
23  National            2.070357e+06  48.289024  41.536158  2020

In [95]:
df_polls[df_polls['state'] == 'National'].groupby('year')[['perc_dem', 'perc_gop']].transform('mean')

     perc_dem   perc_gop
35  47.526318  43.687056
30  47.613843  45.201903
34  44.115005  40.763429
23  48.289024  41.536158

In [96]:
df_polls['perc_dem'] = df_polls['perc_dem'].fillna(
   df_polls[df_polls['state'] == 'National'].groupby('year')['perc_dem'].transform('mean'))

In [100]:
df_polls.head()

  state  number.of.observations   perc_dem   perc_gop  year
0    AK                  6901.0  39.419939  52.014925  2008
1    AL                  7181.0  34.658683  59.205542  2008
2    AR                  4300.0  39.139535  51.790698  2008
3    AZ                  5632.0  41.800781  51.717152  2008
4    CA                 13963.0  54.213206  37.070973  2008

In [1]:
# fig, axes = plt.subplots(int(len(df_state)/4), 4, figsize=(15, 40))
# # fig.suptitle('State Wise Election Poll Average', fontsize=20)
# colors = ['royalblue', 'orangered', 'lightpink' ]
# labels = ['TRUMP', 'BIDEN', 'OTHER']
# for i, (idx, row) in enumerate(df_state.set_index('state').iterrows()):
#     ax = axes[i // 4, i % 4]
#     row = row[row.gt(row.sum() * .01)]
#     ax.pie(row,  startangle=75, colors = colors, 
#            autopct='%1.0f%%' , textprops={'fontsize': 12, 'fontweight': 'medium'}, )
#     ax.axis('equal')
#     ax.set_title(idx.upper(), fontdict={'fontsize': 16, 'fontweight': 'medium'})
# # Create the legend
# # fig.legend(    # The line objects
# #            labels=labels,   # The labels for each line
# #            loc="upper right",   # Position of legend
# #            borderaxespad=0.1,    # Small spacing around legend box
# #            title="Legend Title"  # Title for the legend
# #            )
# fig.subplots_adjust(wspace=.2, hspace = 0.1)

In [ ]:
states = {
        'AK': ['Alaska', 3],
        'AL': ['Alabama', 9],
        'AR': ['Arkansas', 6],
        'AZ': ['Arizona', 11],
        'CA': ['California', 55],
        'CO': ['Colorado', 9],
        'CT': ['Connecticut', 7],
        'DC': ['District of Columbia', 3],
        'DE': ['Delaware', 3],
        'FL': ['Florida', 29],
        'GA': ['Georgia', 16],
        'HI': ['Hawaii', 4],
        'IA': ['Iowa', 6],
        'ID': ['Idaho', 4],
        'IL': ['Illinois', 20],
        'IN': ['Indiana', 11],
        'KS': ['Kansas', 6],
        'KY': ['Kentucky', 8],
        'LA': ['Louisiana', 8],
        'MA': ['Massachusetts', 11],
        'MD': ['Maryland', 10],
        'ME': ['Maine', 4],
        'MI': ['Michigan', 16],
        'MN': ['Minnesota', 10],
        'MO': ['Missouri', 10],
        'MP': ['Northern Mariana Islands', 0],
        'MS': ['Mississippi', 6],
        'MT': ['Montana', 3],
        'NC': ['North Carolina', 15],
        'ND': ['North Dakota', 3],
        'NE': ['Nebraska', 5],
        'NH': ['New Hampshire', 4],
        'NJ': ['New Jersey', 14],
        'NM': ['New Mexico', 5],
        'NV': ['Nevada', 6],
        'NY': ['New York', 29],
        'OH': ['Ohio', 18],
        'OK': ['Oklahoma', 7],
        'OR': ['Oregon', 7],
        'PA': ['Pennsylvania', 20],
        'PR': ['Puerto Rico', 0],
        'RI': ['Rhode Island', 4],
        'SC': ['South Carolina', 9],
        'SD': ['South Dakota', 3],
        'TN': ['Tennessee', 11],
        'TX': ['Texas' ,38],
        'UT': ['Utah', 6],
        'VA': ['Virginia', 13],
        'VT': ['Vermont', 3],
        'WA': ['Washington', 12],
        'WI': ['Wisconsin', 10],
        'WV': ['West Virginia', 5],
        'WY': ['Wyoming', 3]
}